* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    margin: auto;
}
body {
    display: flex;

    flex-direction: column;
}
  header {
      display: flex;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      color: #FFF;
      width: 80%;
  
      background-color:  rgb(243, 37, 1);
}

#container {
    display: flex;

    margin-top: 25px;
}
#title{
    font-size: 25px;
    font-weight: 500;
}
#input {
    margin-top: 20px;
}
a {
    background-color: rgb(2, 95, 44);
    width: 80px;
    height: 25px;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    border-radius: 5px;

    text-decoration: none;

}