{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Lista de Cliente </title>
    <script src="https://kit.fontawesome.com/3f3417947e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles_list.css' %}">
</head>
<body>
    <header>
        <h1> Lista de Clientes </h1>
        <a href="{% url 'create' %}">Cadastrar</a>
    </header>
            <div>
                <table id="data-table">
                    <thead>
                        <tr>
                            <th> Nome </th>
                            <th> Email </tj>
                        </tr>
                    </thead>
                    {% for users in user_list %}
                    <tbody>
                        <tr>
                            <td>{{users.name}}</td>
                            <td>{{users.email}}</td>
                            <td><a href="{% url 'detail' pk=users.id %}" class="fas fa-address-book"></a></td>
                            <td><a href="{% url 'update' pk=users.id %}" class="fas fa-pencil-alt"></a></td>
                            <td><a href="{% url 'delete' pk=users.id %}" class="fas fa-minus-circle"></a></td>
                        </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    
</body>
</html>